@model IEnumerable<JobPortal2.Models.JobModel>

@{
    ViewData["Title"] = "SavedIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SavedIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.IdJob)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IdRecruiter)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DateTimeAdded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.IdJob)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IdRecruiter)
            </td>*@
            <td>\
                @Html.DisplayFor(modelItem => item.DateTimeAdded)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Remove", "Unsave", new {  id=item.IdJob })
            </td>
        </tr>
}
    </tbody>
</table>
